@{ Ser.Logic.LApp lApp = new Ser.Logic.LApp();  }
<ul class="nav navbar-nav ig-nav-primary">
	<li>@Html.ActionLink(Ress.PartnerPortal, "Index", "PartnerPortal")</li>
	<li>@Html.ActionLink(Ress.TitleNewWorkOrder, "New", "PartnerPortal")</li>
	<li>@Html.ActionLink(Ress.Invoices, "Invoices", "PartnerPortal")</li>
</ul>
