@{
	Layout = "~/Views/Shared/_SignLayout.cshtml";
	ViewBag.Title = Ress.Error;
}
<div class="row text-center">
	<h1 class="text-danger">@Ress.ErrorInRequest</h1>
	<h2>@Ress.ErrorInRequestNote</h2>
</div>
