@{
	Layout = "~/Views/Shared/_SignLayout.cshtml";
	ViewBag.Title = Ress.Sucess;
}
<div class="row text-center">
	<h1 class="text-success">@Ress.SucessRequest</h1>
	<h2>@Ress.SucessRequestNote</h2>
</div>
