
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("RoleIndex", "RoleIndex", "SysAdmin", null, new { @class = "btn btn-primary" })

<br />

@Html.ActionLink("MailTest", "MailTest", null, new { @class = "btn btn-primary" })