
@{
    ViewBag.Title = "Initialize";
}

<h2>Initialize complete?</h2>

<p>Congratulations Roles and first user created.</p>
<p>Now you can logon and continue with the setup. Goto Admin and go :)</p>
<br /><br /><br />
<p>I almost forgot. Username is <strong>SysAdmin</strong> and password is <strong>OpaSer000</strong></p>
<p>@Html.ActionLink("Login", "Index", "Home", null, new { @class = "btn btn-primary" })</p>